@import url(//fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:400,400italic,600,600italic,700);

.container { width: 930px; }

/* Global */
body { color: #51545B; font-family: "Source Sans Pro"; }
h2, h3, h4, h5 { color: #212326; font-weight: 600; }
h1 { font-size: 30px; font-weight: 600; margin: 20px 0 20px; }
h2 { font-size: 22px; }
h3 { font-size: 16px; font-weight: 700; }
section { margin-bottom: 20px; }
blockquote { float: right; margin-left: 20px;}

a:link { color: #55A3CA; text-decoration: none; }
a:visited { color:#55A3CA; }
a:hover { text-decoration: underline; }
li { margin-bottom: 5px; }
label { cursor: pointer; font-weight: normal; }


/* Header */
header { background: #373A41; color:#FFF; margin: 0; padding-bottom: 9px; min-height: 60px; padding-top: 20px; }
header a:link, header a:visited { color: #FFF; }
.link-home { font-size: 18px; font-weight: bold; }
.link-about { float: right; vertical-align: middle; }

/* Footer */
footer { border-top: 1px solid #DDDDDD; font-size: 14px; margin-top: 30px; padding-top: 30px; }

/* Map */
.map-container { position: relative; }
#map { height: 375px; width:100%; vertical-align: top; }
#maptitle { border: medium none black; left: 50px; margin: 5px 0 0; position: absolute; top: 10px; }
.maptitle { background-color: #FFF; font-size: 18px; padding: 5px; opacity: 0.83; }
#mainoutput { border: medium none black; margin: 0; opacity: 0.9; position: absolute; right: 10px; top: 10px; width: 15em; }
.thisoutput { background-color: #FFF; padding: 5px; }
.map-footer { background-color: #F6F6F6; box-shadow: 3px -3px 0 -2px rgba(128, 128, 128, 0.2) inset; font-size: 14px; margin-bottom: 20px; padding: 10px; text-align: center; }
.map-footer .help-block { color: #51545B; float: right; font-style: italic; margin-top: 2px; }
.layer-switch li { margin-bottom: 0; }
.layer-switch li a { font-weight: bold; padding: 5px 10px; }
#legends>div+div { margin-top: 15px; }
#controlButtons { margin-left: 10px; }

#legends>div { overflow:hidden; }
.legend-sq, .legend-circle { white-space: nowrap; width: 250px; }
.legend-sq span { display: inline-block; height: 25px; width: 30px; }
.legend-sq .legend-label { vertical-align: middle; }

.label-row:before, .label-row:after { content: " "; display: table; }
.label-row .legend-label { float: left; white-space: normal; width: 85px; word-wrap: break-word; }
.label-row .legend-label:last-child { float: right; text-align: right; }

.legend-circle .circle { border-radius: 50px; display: inline-block; height: 50px; background: red; margin-right: 25px; vertical-align: middle; width: 50px; }
.legend-circle .legend-label:first-child { width: 50px; text-align: center; }

#hover, #click, #output { display: none; visibility: hidden; }

.glyphicon { font-size: 10px; margin-right: 3px; position: relative; top: -1px; }

@media only screen and (min-width : 320px) {
	.lastUpdated { margin-top: -20px; text-align: left; }
}

@media only screen and (min-width : 768px) {
	.lastUpdated { font-style: italic; margin-top: -40px; text-align: right; }
}